<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Danh mục</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="card ">
        <div class="card-body ein-card-body c-card-body">
          <div class="row">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="row portfolio-grid">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                      <a routerLink="/thong-tin">
                        <figure class="effect-text-in">
                          <img src="./assets/images/menu/1.jpg" alt="image" />
                          <figcaption>
                            <h4 class="text-white">Thông tin công ty</h4>
                            <p>Cập nhật nội dung thông tin Tenant</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                      <a routerLink="/thiet-lap/hoa-don">
                        <figure class="effect-text-in">
                          <img src="./assets/images/menu/2.jpg" alt="image" />
                          <figcaption>
                            <h4 class="text-white">Thiết lập hóa đơn</h4>
                            <p>Thiết lập thông số hóa đơn</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                      <a routerLink="/thiet-lap/tuy-chinh">
                        <figure class="effect-text-in">
                          <img src="./assets/images/menu/3.jpg" alt="image" />
                          <figcaption>
                            <h4 class="text-white">Tùy chỉnh</h4>
                            <p>Thiết lập các thông tin tùy chỉnh</p>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
