<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="nav-top flex-grow-1">
    <div class="container d-flex flex-row h-100 align-items-center">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center">
        <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/invoice-logo.png" alt="logo" /></a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <span class="nav-profile-name">{{ name }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown no-min-width"
              aria-labelledby="profileDropdown">
              <a (click)="logoutClicked()" class="dropdown-item">
                <i class="icon-logout text-primary mr-2"></i>
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav-bottom">
    <div class="container">
      <ul class="nav page-navigation">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/trang-chu">
            <i class="link-icon icon-screen-desktop"></i> <span>Trang chủ</span>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/hoa-don">
            <i class="link-icon icon-docs"></i> <span>Danh sách hóa đơn</span>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/hang-hoa"> <i class="link-icon icon-disc"></i> <span>Hàng hóa</span> </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/khach-hang">
            <i class="link-icon fa fa-user-circle"></i> <span>Khách hàng</span>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <div class="nav-link">
            <i class="link-icon icon-book-open"></i>
            <span class="menu-title">Báo cáo </span><i class="menu-arrow"></i>
          </div>

          <div class="submenu">
            <ul routerLinkActive="active" class="submenu-item">
              <li class="nav-item"><a class="nav-link" routerLink="/bao-cao/thong-ke">Thống kê</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/bao-cao/bang-ke">Bảng kê manifest</a></li>
            </ul>
          </div>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/danh-muc">
            <i class="link-icon fa fa-th-list"></i>
            <span class="menu-title"> Danh mục </span><i class="menu-arrow"></i>
          </a>

          <div class="submenu">
            <ul routerLinkActive="active" class="submenu-item">
              <li class="nav-item"><a class="nav-link" routerLink="/thong-tin">Công ty</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/thiet-lap/hoa-don">Thiết lập hóa đơn</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/thiet-lap/tuy-chinh">Tùy chỉnh</a></li>
            </ul>
          </div>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <div class="nav-link">
            <i class="link-icon fa fa-wrench"></i>
            <span class="menu-title"> Tiện ích </span><i class="menu-arrow"></i>
          </div>

          <div class="submenu">
            <ul routerLinkActive="active" class="submenu-item">
              <li class="nav-item"><a class="nav-link" routerLink="/tien-ich/duyet-theo-lo">Duyệt theo lô</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>