<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="nav-top flex-grow-1">
    <div class="container d-flex flex-row h-100 align-items-center">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center">
        <!-- <a class="navbar-brand brand-logo" href="index.html"><img src="./assets/images/logo.svg" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="./assets/images/logo-mini.svg" alt="logo" /></a> -->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">  
        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown"> 
              <span class="nav-profile-name">{{userLogged.name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a (click)="logoutClicked()" class="dropdown-item">
                <i class="icon-logout text-primary mr-2"></i>
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav-bottom">
    <div class="container">
      <ul class="nav page-navigation">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
            <i [class]="menuItem.icon"></i> <span>{{menuItem.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>