<div class="page-authen">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth p-0 theme-two">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                    <div class="slide-content bg-1">
                    </div>
                </div>
                <div class="col-12 col-md-8 h-100 bg-white">
                    <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                        <form *ngIf="screen === 1" class="authen-form" [formGroup]="forgotForm"
                            (ngSubmit)="onSendSubmit(forgotForm.value)">
                            <div *ngIf="errorMessage" class="alert alert-danger">
                                <i class="fas fa-exclamation-triangle"></i> {{errorMessage}}
                            </div>
                            <h3 class="mr-auto">Quên mật khẩu tài khoản</h3>
                            <p class="mb-5 mr-auto">
                                Để lấy lại mật khẩu Bạn vui lòng nhập địa chỉ Email của mình vào đây
                                <br /> Hoặc <a routerLink="/dang-nhap">Đăng nhập?</a>
                            </p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" formControlName="email" placeholder="Email"
                                        class="form-control" />
                                </div>
                                <app-control-message *ngIf="submitted" [control]="forgotForm.controls['email']">
                                </app-control-message>
                            </div>
                            <div class="form-group">
                                <button [disabled]="isLoading" type="submit" class="btn btn-primary submit-btn">
                                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                                    <i *ngIf="!isLoading" class="fas fa-arrow-circle-right"></i>
                                    {{ isLoading ? 'Vui lòng chờ...' : 'Gửi yêu cầu' }}
                                </button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <span
                                    class="footer-text text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                    © 2018 <a href="#" target="_blank">AHoaDon eInvocie System</a> - CÔNG TY TNHH GIẢI
                                    PHÁP PHẦN MỀM VÀ TRUYỀN THÔNG THƯƠNG HIỆU
                                    NOVA.
                                </span>
                                <br /> <br />
                                <span class="footer-text text-muted">All rights reserved.</span>
                            </div>
                        </form>
                        <form *ngIf="screen === 2" class="authen-form" [formGroup]="confirmPassForm"
                            (ngSubmit)="onDoResetSubmit(confirmPassForm.value)">
                            <div *ngIf="errorMessage" class="alert alert-danger">
                                <i class="fas fa-exclamation-triangle"></i> {{errorMessage}}
                            </div>
                            <h3 class="mr-auto">Đặt lại mật khẩu</h3>
                            <p class="mb-5 mr-auto">
                                Vui lòng nhập mật khẩu mới của bạn. Hoặc <a routerLink="/dang-nhap">Đăng nhập?</a>
                            </p>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" formControlName="password" placeholder="Nhập mật khẩu"
                                        class="form-control" />
                                </div>
                                <app-control-message *ngIf="submitted" [control]="confirmPassForm.controls['password']">
                                </app-control-message>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" formControlName="confirmPass" placeholder="Nhập lại mật khẩu"
                                        class="form-control" />
                                </div>
                                <p class="error text-danger" *ngIf="submitted && confirmPassForm.hasError('notSame')">
                                    Mật khẩu xác nhận không khớp!
                                </p>
                            </div>
                            <div class="form-group">
                                <button [disabled]="isLoading" type="submit" class="btn btn-primary submit-btn">
                                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                                    <i *ngIf="!isLoading" class="far fa-check-circle"></i>
                                    {{ isLoading ? 'Vui lòng chờ...' : 'Xác nhận' }}
                                </button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <span
                                    class="footer-text text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                    © 2018 <a href="#" target="_blank">AHoaDon eInvocie System</a> - CÔNG TY TNHH GIẢI
                                    PHÁP PHẦN MỀM VÀ TRUYỀN THÔNG THƯƠNG HIỆU
                                    NOVA.
                                </span>
                                <br /> <br />
                                <span class="footer-text text-muted">All rights reserved.</span>
                            </div>
                        </form>

                        <form *ngIf="screen === 3">
                            <div class="alert alert-success">
                                <i class="far fa-check-circle"></i>
                                <label>&nbsp;Bạn đã đổi mật khẩu thành công</label>
                            </div>

                            <div class="form-group">
                                <button routerLink="/dang-nhap" class="btn btn-primary submit-btn">
                                    <i class="fas fa-sign-in-alt"></i> Đăng nhập
                                </button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <span
                                    class="footer-text text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                    © 2018 <a href="#" target="_blank">AHoaDon eInvocie System</a> - CÔNG TY TNHH GIẢI
                                    PHÁP PHẦN MỀM VÀ TRUYỀN THÔNG THƯƠNG HIỆU
                                    NOVA.
                                </span>
                                <br /> <br />
                                <span class="footer-text text-muted">All rights reserved.</span>
                            </div>
                        </form>

                        <div *ngIf="screen === 4">
                            <div class="alert alert-success">
                                <i class="far fa-check-circle"></i> Email đã được gửi, vui lòng kiểm tra hộp thư để cập
                                nhật thông tin.
                            </div>
                            <div class="form-group">
                                <button routerLink="/dang-nhap" class="btn btn-primary submit-btn">
                                    <i class="fas fa-sign-in-alt"></i> Đăng nhập
                                </button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <span
                                    class="footer-text text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                    © 2018 <a href="#" target="_blank">AHoaDon eInvocie System</a> - CÔNG TY TNHH GIẢI
                                    PHÁP PHẦN MỀM VÀ TRUYỀN THÔNG THƯƠNG HIỆU
                                    NOVA.
                                </span>
                                <br /> <br />
                                <span class="footer-text text-muted">All rights reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->