.jumbotron {
  padding: 0 !important;
  margin-bottom: 0px !important;
  background: #e9ecef;
  .breadcrumb {
    border: 0 !important;
    margin-bottom: 0;
    padding-left: 0 !important;
  }
}

.tooltip.has-error .tooltip-arrow {
  left: 10px !important;
  border-bottom-color: #a94442;
}

.tooltip.has-error .tooltip-inner {
  background: #a94442;
  max-width: 100%;
}

.btn-light {
  border-color: #ccc !important;
}

.card-shadow {
  box-shadow: 0px 5px 5px #ccc !important;
}

.text-bold {
  font-weight: 600 !important;
}

.text-italic {
  font-style: italic !important;
}

.tb-footer {
  background: #e9ecef;
}

.error.text-danger {
  color: #a94442;
  margin: 0 !important;
}

.no-border-right {
  border-right: 0 !important;
}

.theme-blue {
  .bs-datepicker-head{
    background: #439aff !important;
  }
  
  .bs-datepicker-head button {
    color: #fff !important;
    .next span,
    .previous span {
      font-size: 24px !important;
    }
  }
}

.required:after {
  content: "*";
}

.ngx-dropdown-container {
  font-size: 13px !important;

  .ngx-dropdown-list-container {
    .selected-items {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      li {
        background: #e9ecef !important;
        color: #333 !important;
        padding: 4px 10px !important;
        height: 28px !important;
        /* padding: 11px; */
        overflow: hidden;
        line-height: 22px !important;
        font-size: 12px !important;
        word-break: break-all;
        span {
          word-break: break-all;
        }
      }
    }

    .available-items {
      margin-top: 5px !important;

      li {
        padding: 7px 10px !important;
        line-height: 20px;
        height: 28px !important;
        overflow: hidden !important;
        word-break: break-all;
        span {
          word-break: break-all;
        }

        &:hover {
          color: #333 !important;
          background: #e9ecef !important;
        }
      }
    }

    .search-container {
      margin-top: 7px;
      label {
        font-size: 13px !important;
      }

      input {
        border-bottom: 1px solid #eee !important;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 13px;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 13px;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          font-size: 13px;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          font-size: 13px;
        }
      }
    }

    hr {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
  }
}

.product-item {
  .product-item__title {
    border-bottom: 1px dashed #a4a4a4;
    padding: 10px 0px;
    margin-bottom: 25px;

    span {
      font-weight: 500;
    }

    a {
      margin-left: 16px;
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}


// button md
.input-group {
  .btn-icons {
    text-shadow: 0 0 grey;
    padding: 7px !important;
  }
}

.bg-primary {
  background: #090e40 !important;
}
legend.scheduler-border {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.no-information {
  font-size: 12px;
  font-weight: 400;
}
.ngb-pagination {
  margin-top: 16px;
  display: block;
  position: relative;
  min-height: 55px;

  .page-info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
  }
}
.table-expanded-form {
  display: flex;

  .form-group {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.number-format {
  float: right;
}

.bs-datepicker-container {
  padding: 0px !important;

  .bs-datepicker-head {
    min-width: 270px;
    height: 35px;
    padding: 4px 10px;
    border-radius: 3px 3px 0 0;
    text-align: justify;
    font-size: 13px;
  }
}

.scheduler-border {
  .table {
    background: aliceblue;
    td {
      line-height: 1.4;
    }
    thead > tr > th {
      border-bottom: 1px solid #ddd;
    }
  }
}

// table {
//   th,
//   td {
//     font-size: 13px !important;
//   }

//   tr.tr-expand + tr {
//     background: aliceblue;
//     > td {
//       padding: 12px 20px !important;
//     }
//   }
// }

/****SCROLLBAR***/
.select2-results__options {
  .select2-results__option {
    padding: 4px 8px !important;
  }
  &::-webkit-scrollbar {
    width: 4px;
    opacity: 0.7;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #e9ecef;
  }
}

.ein-select2-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  justify-content: space-between;

  .ein-select {
    padding: 0.56rem 0.75rem;
    border: 1px solid #d9d9d9;
    color: #333;
    font-size: 0.7rem;
    width: 50%;

    &:first-child {
      margin-right: 12px;
    }
  }

  .select2-selection {
    border-radius: 4px;
  }
}

.search-box {
  margin-bottom: 8px;
  .card {
    .card-body {
      border: 1px solid #d9d9d9;
      padding: 15px 12px 5px !important;

      form {
        .form-control {
          border: 1px solid #d9d9d9;
          font-weight: 600;
        }
      }
    }
  }
}

.black-overlay {
  background: rgba(255, 255, 255, 0.5) !important;
}

.table-wrapper {
  border: 1px solid #dedede;
  position: relative;

  .dataTables_info {
    margin-top: 12px;
  }
  .pagination {
    margin-top: 12px !important;
  }
  .dataTables_scrollHead {
    border-bottom: 2px solid #dedede !important;
  }

  .dataTables_scrollBody {
    .dataTable {
      width: 100% !important;
    }
    &::-webkit-scrollbar {
      width: 6px;
      opacity: 0.7;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #439aff;
    }
  }
  .dataTable {
    td.details-control {
      background: url("./assets/images/details_open.png") no-repeat center center;
      cursor: pointer;
      width: 15px !important;
    }
    tr.tr-expand td.details-control {
      background: url("./assets/images/details_close.png") no-repeat center center;
      width: 15px !important;
    }
  }
}

.bg-smoke {
  background: #e9ecef !important;
}

.template-ein {
  &.navbar-action {
    margin-bottom: 12px;
  }
  > .btn {
    @extend .mt-2;
    @extend .mr-2;

    &.no-mg-r {
      margin-right: 0 !important;
    }
  }

  > .btn-toolbar {
    @extend .mt-2;
    @extend .mr-2;
  }

  > .btn-group {
    @extend .mt-2;
    @extend .mr-2;

    .btn {
      margin: 0;
    }
  }

  .progress {
    margin-top: 1.5rem;
  }

  .circle-progress {
    @extend .mt-2;
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > h1 {
    border-top: 1px solid $border-color;
    padding: 0.5rem 0 0;
  }

  .ul-slider {
    &.noUi-horizontal {
      margin-top: 2rem;
    }

    &.noUi-vertical {
      margin-right: 2rem;
    }
  }

  .dropdown {
    display: inline-block;
    @extend .mr-2;
    margin-bottom: 0.5rem;
  }

  nav {
    .breadcrumb {
      margin-bottom: 1.375rem;
    }

    &:last-child {
      .breadcrumb {
        margin-bottom: 0;
      }
    }
  }

  .editable-form {
    > .form-group {
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }

  .circle-progress {
    padding: 15px;
  }

  .circle-progress-block {
    @extend .mb-3;
    @extend .px-2;
  }
}

.ein-modal {
  position: static;
  display: block;

  .modal-dialog {
    &.modal-lg {
      max-width: 100%;
    }
  }
}

.loader-ein-box {
  @extend .border;
  @extend .border-secondary;
  @extend .rounded;
  width: 100%;
  height: 200px;
  @extend .d-flex;
  @extend .align-items-center;
}

.documentation {
  padding-top: 0;
  max-width: 100%;
  .content-wrapper {
    padding-top: 0;
    min-height: calc(100vh - #{$footer-height});
  }
}
.doc-table-contents,
.doc-header {
  position: fixed;
}
.doc-header {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 2;
  background: $content-bg;
}

.doc-content {
  padding-top: 157px;
}

.doc-table-contents {
  overflow: auto;
  max-height: calc(100% - 157px);
  ul {
    li {
      margin-top: 10px;
      &:before {
        font-size: 0.5rem;
      }
    }
  }
}

.doc-credits {
  ul {
    li {
      margin-bottom: 10px;
      a {
        margin-left: 0.25rem;
      }
    }
  }
}

.big-tittle {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: url(./assets/images/tab.png) no-repeat 0 0;
  min-height: 32px;
  padding-left: 16px;
  padding-top: 10px;
  margin-top: 16px;
}

.ein-vector-map {
  width: 100%;
  height: 500px;
}

.mh-150 {
  min-height: 150px !important;
}

/***LOGIN FORM***/
.page-login{
  .content-wrapper{
    max-width: unset !important;
  }
  .loginForm{
    .form-group{
      margin-bottom: 1rem !important;
      .form-control{
        border-radius: 0 !important;
      }
    }
    .input-group-prepend{
      background: #439aff;

      .input-group-text{
        color: #fff;
        border: 0 !important;
        border-radius: 0 !important;
        i{
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }

}
.no-border {
  border: 0 !important;
}

.invoice__actions {
  padding: 0px 120px;
}

.td-expand-line {
  padding: 4px !important;
  background: #e9ecef;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.form-tabset {
  .nav-item {
    .bs-remove-tab {
      visibility: hidden;
      &:hover {
        &:after {
          color: red !important;
        }
      }

      &:after {
        content: "\00d7";
        color: #ccc;
        font-size: 22px;
        font-weight: bold;
        visibility: visible;
        position: absolute;
        right: 5px;
        top: 4px;
        padding: 4px;
      }
    }
    .nav-link {
      padding: 12px;
      position: relative;
      border: 0;
      box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.vat-line {
  .form-control {
    padding: 0 !important;
  }
}

label.error {
  font-size: 12px !important;
}

.popover {
  .popover-header {
    color: #333 !important;
  }
}

.ngx-dropdown-container {
  .ngx-dropdown-button {
    width: 100%;
    height: 32px;
    padding: 5px 10px 5px 10px;
  }
}

/***INVOICE FORM***/
.invoice__wrapper {
  &.card-body {
    padding: 16px !important;
  }
  .navbar-action {
    margin-top: 20px;
  }

  .invoice__form {
    .form-group {
      margin-bottom: 7px !important;
    }

    .invoice__body {
      padding-bottom: 30px;

      .loading {
        .backdrop {
          top: 0 !important;
          left: 6px !important;
          right: 6px !important;
          z-index: 9999999999;
        }

        .spinner-pulse {
          top: 75px !important;
          width: 24px !important;
          height: 24px !important;
          z-index: 9999999999;
        }
      }

      &.invoice__detail {
        padding: 30px 60px;

        .col-form-label {
          font-size: 13px;
        }

        .invoice-detail_heading {
          text-align: center;
          margin-bottom: 40px;

          .form__title {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
    }

    .product-item__wrapper {
      min-height: 280px;
      .table th {
        padding: 16px 4px !important;
      }
      .form-control {
        padding: 4px !important;
      }
      .sub-title {
        margin-top: 8px;
        display: block;
        .sub-title__small {
          font-size: 14px;
          font-weight: 600;
        }

        button {
          float: right;
        }
      }
      .product-line {
        position: relative;

        .ngx-dropdown-button {
          border: 0 !important;
        }
        .ngx-dropdown-list-container {
          min-width: 186px;
        }
        .hideselect {
          .ngx-dropdown-list-container {
            min-width: 186px;
          }
          .nsdicon-angle-down {
            display: none !important;
          }
        }

        .select2-selection--single {

          &:focus {
            border-width: 1px !important;
          }
        }

        .select2-dropdown {
          border-radius: 0 !important;
        }

        td {
          position: relative;

          .popover {
            width: 100%;
            top: 32px;
            border-bottom: 1px solid #ccc;

            .form-control {
              padding: 5px !important;
            }
          }
        }

        .sticky-btn__td {
          position: absolute;
          margin-top: 5px;
          padding: 0px 5px;
          right: 2px;
          .sticky_btn {
            padding: 4px;
            color: #ccc !important;

            &:hover {
              cursor: pointer;
              color: red !important;
            }
          }
        }

        .invoice-no__item {
          padding-left: 5px !important;

          .line-title {
            width: 100%;
            padding-left: 8px;
            padding-top: 8px;
            font-weight: 600;
          }
        }

        & > td.no-padding {
          padding: 0px !important;
          input.form-control {
            border-width: 0 !important;
            padding-left: 5px;

            &:focus {
              outline: 1px !important;
            }
          }

          .popover {
            .popover-header {
              font-size: 11px !important;
            }
            .popover-body {
              padding: 5px !important;
            }
          }
        }
      }

      .btn-bg-add {
        padding: 10px !important;
        display: block;
        background: url("./assets/images/details_open.png") no-repeat left center;
        cursor: pointer;
      }

      .btn-bg-remove {
        padding: 10px !important;
        display: block;
        background: url("./assets/images/details_close.png") no-repeat left center;
        cursor: pointer;
      }
    }
  }
}
