<div class="container-fluid page-body-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a routerLink="/invoices">Dải hóa đơn</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chi tiết hóa đơn</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="card px-2">
            <div class="card-body invoice__wrapper">
              <form class="invoice__form">
                <div class="container-fluid">
                  <!--ROW HEADING-->
                  <div class="invoice-form__heading">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-3">
                        <div class="form-group">
                          <label class="text-bold col-sm-6 col-form-label">
                            Chi tiết
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6 text-center col-lg-6 col-sm-6">
                        <div class="form-group">
                          <label class="form__title col-form-label">
                            HÓA ĐƠN GIÁ TRỊ GIA TĂNG
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-sm-3">
                        <div class="invoice__info">
                          <div class="form-group row">
                            <label class="ccol-sm-3 col-md-3 col-lg-3 col-form-label text-bold">Mẫu số:</label>
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <label class="text-bold col-form-label">0221/315121</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="invoice-form__info">
                    <div class="row">
                      <div class="col-md-3 offset-md-9 col-lg-3 offset-lg-9">
                        <div class="form-group row">
                          <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Ký hiệu:</label>
                          <div class="col-sm-9 col-md-9 col-lg-9">
                              <label class="text-bold col-form-label">111AAA/BBBB</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-end">
                      <div class="col-md-3 col-lg-3">
                        <div class="form-group text-right row">
                          <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Ngày:</label>
                          <div class="col-sm-9 col-md-9 col-lg-9">
                            <label class="text-bold col-form-label">20/11/2013</label>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3 offset-md-2 offset-lg-2">
                        <div class="form-group row">
                          <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Số HĐ:</label>
                          <div class="col-sm-9 col-md-9 col-lg-9">
                              <label class="text-bold col-form-label">111AAA/BBBB</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="invoice__body">
                    <div class="customer-group__detail">
                      <div class="row">
                        <div class="col">
                          <div class="form-group row">
                            <label class="col-sm-2 col-md-2 col-lg-2 col-form-label">Họ tên người mua: </label>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                               <label class="text-bold col-form-label">Trần Văn Cường</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 col-lg-4">
                          <div class="form-group row">
                            <label class="col-sm-6 col-md-6 col-lg-6 col-form-label">Mã khách hàng:</label>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label class="text-bold col-form-label">000622254111</label>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-8 col-lg-8">
                          <div class="form-group row">
                            <label class="col-sm-4 col-md-4 col-lg-4 text-right col-form-label">Tên khác:</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                              <label class="text-bold col-form-label">Cuong Rio</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group row">
                            <label class="col-sm-2 col-md-2 col-lg-2 col-form-label">Địa chỉ</label>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <label class="text-bold col-form-label">123 Hateco, Yên Sở, Hoàng Mai, Hà Nội</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 col-lg-4">
                          <div class="form-group row">
                            <label class="col-sm-6 col-md-6 col-lg-6 col-form-label">Mã số thuế</label>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-8 col-lg-8">
                          <div class="form-group row">
                            <label class="col-sm-4 col-md-4 col-lg-4 col-form-label text-right">Hình thức
                              thanh toán</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 col-lg-4">
                          <div class="form-group row">
                            <label class="col-sm-6 col-md-6 col-lg-6 col-form-label">Email</label>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-8 col-lg-8">
                          <div class="form-group row">
                            <label class="col-sm-4 col-md-4 col-lg-4 col-form-label text-right">Website</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 col-lg-4">
                          <div class="form-group row">
                            <label class="col-sm-6 col-md-6 col-lg-6 col-form-label">Số tài khoản</label>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-8 col-lg-8">
                          <div class="form-group row">
                            <label class="col-sm-4 col-md-4 col-lg-4 col-form-label text-right">Tại</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                              <input class="form-control " name="customer_name" type="text">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--#end customer-group-->

                    <div class="product-item__wrapper">
                      <h3><small class="text-muted">THÔNG TIN DÒNG HÀNG</small></h3>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>#STT</th>
                            <th>Mã</th>
                            <th>Nội dung</th>
                            <th class="text-right">Số lượng</th>
                            <th>Đơn vị</th>
                            <th class="text-right">Đơn giá</th>
                            <th class="text-right">Thành tiền</th>
                            <th class="text-right">%VAT</th>
                            <th class="text-right">Tiền VAT</th>
                            <th class="text-right">Tổng tiền</th>
                            <th>Trạng thái</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr class="product-line">
                            <td>1</td>
                            <td>11</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="template-ein text-right navbar-action">
                    <button type="button" class="btn btn btn-primary btn-fw">
                      <i class="fas fa-times"></i> Ký hóa đơn
                    </button>

                    <button type="button" class="btn btn-success btn-fw">
                      <i class="fas fa-save"></i> In Hóa đơn
                    </button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>