<div class="container-fluid page-body-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a routerLink="/invoices">Danh sách hóa đơn</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chi tiết hóa đơn</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="container-fluid">
          <div class="template-ein navbar-action">
            <button type="button" class="btn btn-md btn-outline-primary"><i class="fas fa-edit"></i> Sửa</button>
            <button type="button" class="btn btn-md btn-outline-primary"><i class="fas fa-key"></i> Ký</button>
            <button type="button" class="btn btn-md btn-outline-primary"><i class="fas fa-print"></i> In CĐ</button>
            <button routerLink="/invoices" type="button" class="btn btn-md btn-light"><i class="fas fa-share-square"></i>
              Thoát</button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <div class="card card-shadow px-2">
            <div class="card-body invoice__wrapper">
              <form class="invoice__form">
                <div class="invoice__body invoice__detail">
                  <div class="row invoice-detail_heading">
                    <div class="col text-center">
                      <h4 class="form__title">
                        HÓA ĐƠN GIÁ TRỊ GIA TĂNG
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Ngày lập:</label>
                        <label class="text-bold ml-2">12/12/2012</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Số hóa đơn:</label>
                        <label class="text-bold ml-2">0000000001</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Mẫu số:</label>
                        <label class="text-bold ml-2">000000/0001</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Ký hiệu:</label>
                        <label class="text-bold ml-2">2200/0001</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Mã khách hàng:</label>
                        <label class="text-bold ml-2">AAAAAA</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Mã số thuế:</label>
                        <label class="text-bold ml-2">2121545151</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Email:</label>
                        <label class="text-bold ml-2">cuongrio07@gmail.com</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Mã đơn hàng:</label>
                        <label class="text-bold ml-2">234234234</label>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                      <div class="col-form-label">
                        <label>Tên đơn vị:</label>
                        <label class="text-bold ml-2">Đơn vị ABC</label>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                      <div class="col-form-label">
                        <label>Người mua:</label>
                        <label class="text-bold ml-2">FDSFDSFSDFSDFSDF</label>
                      </div>
                    </div>


                    <div class="col-md-12 col-lg-12">
                      <div class="col-form-label">
                        <label>Địa chỉ:</label>
                        <label class="text-italic text-bold ml-2">133 Minh Khai - Hà nội</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Email:</label>
                        <label class="text-bold ml-2">cuongrio07@gmail.com</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Số tài khoản:</label>
                        <label class="text-bold ml-2">43343434</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Ngân hàng:</label>
                        <label class="text-bold ml-2">Ngân hàng abc</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="col-form-label">
                        <label>Trạng thái:</label>
                        <label class="text-bold ml-2">Lập Đơn</label>
                      </div>
                    </div>
                  </div>

                  <div class="product-item__wrapper">
                    <h3 class="sub-title">
                      <small class="sub-title__small">Chi tiết hóa đơn</small>
                    </h3>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Mã HH</th>
                          <th>Nội dung</th>
                          <th class="text-right">ĐVT</th>
                          <th class="text-right">SL</th>
                          <th class="text-right">Giá</th>
                          <th class="text-right">Tiền</th>
                          <th class="text-right">% CK</th>
                          <th class="text-right">Tiền CK</th>
                          <th class="text-right">% VAT</th>
                          <th class="text-right">Tiền VAT</th>
                          <th class="text-right">Tổng tiền</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="items">
                        <tr class="product-line">
                          <td class="no-padding invoice-no__item">
                            <label class="line-title">0903930</label>
                          </td>
                          <td>
                              0903930
                          </td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                          <td>0903930</td>
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr class="tb-footer">
                          <th style="width: 120px;">Tổng</th>
                          <th></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 120px;" class="text-right"></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 80px;" class="text-right"></th>
                          <th style="width: 120px;" class="text-right"></th>
                          <th style="width: 120px;"></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>