<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/hoa-don/lam-moi">Danh sách hóa đơn</a></li>
            <li *ngIf="invoiceId && segmentRouter=='chi-tiet'" class="breadcrumb-item active" aria-current="page">Mở hóa
              đơn</li>
            <li *ngIf="invoiceId && segmentRouter=='copy'" class="breadcrumb-item active" aria-current="page">Sao chép
              hóa
              đơn</li>
            <li *ngIf="!invoiceId" class="breadcrumb-item active" aria-current="page">Lập hóa đơn</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content-form">
        <div class="card card-shadow">
          <div class="card-body ein-card-body">
            <div class="row">
              <div class="container-fluid">
                <div class="template-ein navbar-action">
                  <button type="button" [disabled]="disabledAdd" (click)="addNewButtonClicked()" class="btn btn-md btn-primary">
                    <i class="fas fa-plus"></i> Thêm
                  </button>
                  <button type="button" (click)="editClicked()" [disabled]="disabledEdit" class="btn btn-md btn-outline-primary"><i
                      class="fas fa-edit"></i>
                    Sửa</button>
                  <button [disabled]="disabledCopy" (click)="copyClicked()" type="button" class="btn btn-md btn-outline-primary">
                    <i class="fas fa-copy"></i> Sao chép
                  </button>
                  <button *ngIf="canPreview" type="button" [disabled]="previewLoading || viewMode" (click)="isPreview=true; ngAddForm.ngSubmit.emit()"
                    class="btn btn-md btn-outline-primary">
                    <i *ngIf="previewLoading" class="fa fa-spinner fa-spin"></i>
                    <i *ngIf="!previewLoading" class="fas fa-info"></i>
                    Xem trước
                  </button>

                  <button *ngIf="!canPreview" type="button" (click)="printRowClicked()" [disabled]="previewLoading"
                    class="btn btn-md btn-outline-primary">
                    <i *ngIf="previewLoading" class="fa fa-spinner fa-spin"></i>
                    <i *ngIf="!previewLoading" class="fas fa-print"></i>
                    In
                  </button>

                  <button id="signButton" [disabled]="disabledSign" type="button" (click)="openModalMd(listToken)"
                    class="btn btn-md btn-outline-primary">
                    <i class="fas fa-key"></i> Ký
                  </button>
                  <ng-template #listToken>
                    <ngx-spinner [visible]="signButtonLoading" [config]="spinnerConfig"></ngx-spinner>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Xác nhận token</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p *ngIf="signErrorMessage" class="error">
                        {{signErrorMessage}}
                      </p>
                      <ng-select [loading]="signTokenLoading" [items]="listTokenAvaiable" (change)="onTokenChange($event)"
                        [clearable]="false" [searchable]="false" bindLabel="name" bindValue="alias">
                        <ng-template ng-option-tmp let-item="item">
                          <div class="avaible-tokens">
                            <div *ngIf="item.isExpired;else isExpried">
                              <div class="token-name is-expired"><b>Tên: </b>{{item.name}}</div>
                              <label class="is-expired">
                                <b>Hiệu lực: </b> {{item.effectiveDate}}
                              </label>
                            </div>

                            <ng-template #isExpried>
                              <div class="token-name is-effective"><b>Tên: </b>{{item.name}}</div>
                              <label class="is-effective">
                                <b>Hiệu lực: </b> {{item.effectiveDate}}
                              </label>
                            </ng-template>
                          </div>
                        </ng-template>
                      </ng-select>

                      <div class="btn-group">
                        <button type="button" [disabled]="signButtonDisabled" class="btn btn-primary mr-1 no-br"
                          (click)="tokenChoiceClicked()">
                          <i class="fas fa-key"></i> Ký
                        </button>
                        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Bỏ qua</button>
                      </div>
                    </div>
                  </ng-template>

                  <button [disabled]="disabledApproved" type="button" (click)="openModal(approveConfirm)" class="btn btn-md btn-success">
                    <i class="fas fa-check"></i> Duyệt
                  </button>
                  <ng-template #approveConfirm>
                    <div class="modal-body text-center">
                      <div class="dispose-content">
                        <p class="heading">Xác nhận duyệt hóa đơn?</p>
                        <button type="button" class="btn btn-primary mr-1" (click)="approveClicked()">Đồng ý</button>
                        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Bỏ qua</button>
                      </div>
                    </div>
                  </ng-template>

                  <button [disabled]="disabledExit" routerLink="/hoa-don/lam-moi" type="button" class="btn btn-md btn-light">
                    <i class="fas fa-share-square"></i> Thoát
                  </button>

                  <div class="pull-right mt-2">
                    <button [disabled]="disabledInCD" (click)="printTransformRowClicked()" type="button" class="btn btn-md btn-outline-primary"><i
                        class="fas fa-print"></i>
                      In chuyển đổi</button>

                    <button type="button" (click)="redirectToAdjust()"
                      *ngIf="!isChangeInvoice"
                      [disabled]="disabledAdjust" class="btn btn-md btn-outline-primary"><i
                        class="fas fa-edit"></i>
                      Điều chỉnh
                    </button>
                    <button type="button" (click)="redirectToReplace()"
                      *ngIf="!isChangeInvoice"
                     [disabled]="disabledReplace" class="btn btn-md btn-outline-primary">
                      <i class="fa fa-retweet"></i> Thay thế
                    </button>

                    <button [disabled]="disabledDisposed" type="button" (click)="openModal(disposeConfirm)" class="btn btn-md btn-outline-danger">
                      <i class="fas fa-trash"></i> Hủy hóa đơn
                    </button>
                    <ng-template #disposeConfirm>
                      <div class="modal-body text-center">
                        <div class="dispose-content">
                          <p class="heading">Xác nhận hủy hóa đơn?</p>
                          <button type="button" class="btn btn-primary mr-1" (click)="disposeConfirmToken(disposeToken)">Đồng
                            ý</button>
                          <button type="button" class="btn btn-default" (click)="modalRef.hide()">Bỏ qua</button>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #disposeToken>
                      <ngx-spinner [visible]="signButtonLoading" [config]="spinnerConfig"></ngx-spinner>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Xác nhận token</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p *ngIf="signErrorMessage" class="error">
                          {{signErrorMessage}}
                        </p>
                        <ng-select [loading]="signTokenLoading" [items]="listTokenAvaiable" (change)="onTokenChange($event)"
                          [clearable]="false" [searchable]="false" bindLabel="name" bindValue="alias">
                          <ng-template ng-option-tmp let-item="item">
                            <div class="avaible-tokens">
                              <div *ngIf="item.isExpired;else isExpried">
                                <div class="token-name is-expired"><b>Tên: </b>{{item.name}}</div>
                                <label class="is-expired">
                                  <b>Hiệu lực: </b> {{item.effectiveDate}}
                                </label>
                              </div>

                              <ng-template #isExpried>
                                <div class="token-name is-effective"><b>Tên: </b>{{item.name}}</div>
                                <label class="is-effective">
                                  <b>Hiệu lực: </b> {{item.effectiveDate}}
                                </label>
                              </ng-template>
                            </div>
                          </ng-template>
                        </ng-select>

                        <div class="btn-group">
                          <button type="button" [disabled]="disposeDisabled" class="btn btn-primary mr-1 no-br" (click)="disposeConfirmClicked()">
                            <i *ngIf="disposeButtonLoading" class="fa fa-spinner fa-spin"></i>
                            <i *ngIf="!disposeButtonLoading" class="fas fa-check"></i>
                            {{ disposeButtonLoading ? 'Vui lòng chờ...' : 'Hủy hóa đơn' }}
                          </button>
                          <button type="button" class="btn btn-default" (click)="modalRef.hide()">Bỏ qua</button>
                        </div>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid invoice__wrapper">
                <!-- <div class="card card-shadow">
            <div class="card-body invoice__wrapper"> -->
                <div *ngIf="isAdjust || isReplace" class="alert alert-danger">
                  <span *ngIf="isAdjust">
                    Đang viết hóa đơn <b>ĐIỀU CHỈNH</b> cho
                  </span>
                  <span *ngIf="isReplace">
                    Đang viết hóa đơn <b>THAY THẾ</b> cho
                  </span>
                  <a class="adjustlink" target="_blank" routerLink="/hoa-don/chi-tiet/{{invoiceId}}">
                    hóa đơn số: #{{invoiceNo}} | mẫu: {{adjustForm}} | ký hiệu:{{adjustSerial}}
                  </a>
                </div>

                <div *ngIf="currentAdjust" class="alert alert-info">
                  <span *ngIf="currentAdjust.invoice_type == 'ADJED'">
                    Hóa đơn này <strong>ĐƯỢC ĐIỀU CHỈNH</strong> bởi hóa đơn số:
                  </span>
                  <span *ngIf="currentAdjust.invoice_type == 'ADJ'">
                    Hóa đơn <strong>ĐIỀU CHỈNH</strong> cho số hóa đơn số:
                  </span>
                  <span *ngIf="currentAdjust.invoice_type == 'REPLACE'">
                    Hóa đơn này <strong>ĐƯỢC THAY THẾ</strong> bởi hóa đơn số:
                  </span>
                  <span *ngIf="currentAdjust.invoice_type == 'REPLACED'">
                    Hóa đơn này <strong>BỊ THAY THẾ</strong> bởi hóa đơn số:
                  </span>
                  <a class="adjustlink" target="_blank" routerLink="/hoa-don/chi-tiet/{{currentAdjust.ref_invoice_id}}">
                    #{{currentAdjust.ref_invoice_no}} | mẫu: {{currentAdjust.ref_invoice_form}} | ký
                    hiệu:{{currentAdjust.ref_invoice_serial}}
                  </a>
                </div>

                <form class="invoice__form" #ngAddForm="ngForm" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
                  <div class="invoice__body">
                    <div class="row">
                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label">
                            <label class="text-bold required">Ngày lập</label>
                          </div>
                          <div class="col-md-8 col-lg-8">
                            <div class="input-group">
                              <input appAutofocus [readonly]="viewMode" formControlName="invoiceDate" class="form-control form-control-sm text-bold"
                                [ngClass]="{ 'control-invalid': submitted && addForm.controls['invoiceDate'].errors }"
                                placeholder="DD/MM/YYYY" (bsValueChange)="invoiceDateValueChange($event)" [isDisabled]="viewMode"
                                [bsConfig]="bsConfig" triggers="none" #dinvoiceDate="bsDatepicker" bsDatepicker />
                              <div class="input-group-append">
                                <button [disabled]="viewMode" class="btn btn-icons btn-inverse-light btn-md" (click)="dinvoiceDate.toggle()"
                                  [attr.aria-expanded]="dinvoiceDate.isOpen" type="button">
                                  <i class="fas fa-calendar"></i>
                                </button>
                              </div>
                            </div>
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['invoiceDate']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label class="required">Mẫu số</label></div>
                          <div class="col-md-8 col-lg-8">
                            <ng-select *ngIf="!viewMode && !isEditing" formControlName="form" [loading]="formLoading"
                              [ngClass]="{ 'is-viewable': viewMode }" [items]="comboForm" (change)="onFormChange($event)"
                              [clearable]="false" [searchable]="false" bindLabel="value" bindValue="code">
                            </ng-select>
                            <input *ngIf="viewMode || isEditing" readonly="readonly" formControlName="form" class="form-control form-control-sm"
                              type="text" />
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['form']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label class="required">Ký hiệu</label></div>
                          <div class="col-md-8 col-lg-8">
                            <ng-select *ngIf="!viewMode && !isEditing" formControlName="serial" [loading]="serialLoading"
                              [items]="comboSerial" [clearable]="false" [searchable]="false" bindLabel="value"
                              bindValue="code">
                            </ng-select>

                            <input *ngIf="viewMode || isEditing" readonly="readonly" formControlName="serial" class="form-control form-control-sm"
                              type="text" />
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['serial']"></app-control-message>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Số hóa đơn</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input formControlName="invoiceNo" readonly="readonly" type="text" class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label"><label>Mã KH</label></div>
                          <div class="col-md-8 col-lg-8 dropdown_expand">
                            <ng-select *ngIf="!viewMode" id="customerCode" dropdownPosition="bottom" formControlName="customerCode"
                              [loading]="customerLoading" (keyup)="updateCustomerCode($event.target.value)" (change)="onCustomerCodeChange($event)"
                              [(ngModel)]="customerCodePicked" [items]="customerArr" (focus)="customerCodeFocus($event)"
                              (blur)="hideCustomerCodeInput()" [addTag]="true" [virtualScroll]="true" bindLabel="customer_code"
                              bindValue="customer_code">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <b>{{item.customer_code}}</b> {{item.org}}
                              </ng-template>
                            </ng-select>
                            <input type="text" *ngIf="viewMode" readonly="readonly" formControlName="customerCode"
                              class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Mã số thuế</label></div>
                          <div class="col-md-8 col-lg-8 dropdown_expand">
                            <ng-select *ngIf="!viewMode" id="customerTax" dropdownPosition="bottom" formControlName="customerTax"
                              (change)="onCustomerTaxChange($event)" (focus)="customerTaxFocus($event)" (blur)="hideCustomerTaxInput()"
                              (keyup)="updateTaxCode($event.target.value)" [items]="customerArr" [(ngModel)]="customerTaxPicked"
                              [addTag]="true" [virtualScroll]="true" bindLabel="tax_code" bindValue="tax_code">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <b>{{item.tax_code}}</b> {{item.org}}
                              </ng-template>
                            </ng-select>
                            <input type="text" *ngIf="viewMode" readonly="readonly" formControlName="customerTax" class="form-control form-control-sm" />

                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Email</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input formControlName="customerEmail" [readonly]="viewMode" type="text" class="form-control form-control-sm"
                              [ngClass]="{ 'control-invalid': submitted && addForm.controls['customerEmail'].errors }" />
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customerEmail']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Mã ĐH</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input type="text" [readonly]="viewMode" formControlName="orderNo" class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-6">
                        <div class="form-group row">
                          <div class="col-md-2 col-lg-2 col-form-label"><label>Tên đơn vị</label></div>
                          <div class="col-md-10 col-lg-10">
                            <input formControlName="customerOrg" [readonly]="viewMode" class="form-control form-control-sm"
                              name="customerOrg" type="text" />
                            <p class="error text-danger" *ngIf="submitted && addForm.hasError('invalidOrgName')">
                              Vui lòng không để trống Tên đơn vị hoặc Người mua!
                            </p>
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customerOrg']"></app-control-message>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <div class="form-group row">
                          <div class="col-md-2 col-lg-2 col-form-label text-right"><label>Người mua</label></div>
                          <div class="col-md-10 col-lg-10">
                            <input type="text" formControlName="customerName" [readonly]="viewMode" class="form-control form-control-sm" />
                            <p class="error text-danger" *ngIf="submitted && addForm.hasError('invalidOrgName')">
                              Vui lòng không để trống Tên đơn vị hoặc Người mua!
                            </p>
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customerName']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                          <div class="col-md-1 col-lg-1 col-form-label required"><label>Địa chỉ</label></div>
                          <div class="col-md-11 col-lg-11">
                            <input formControlName="customerAddress" [readonly]="viewMode" type="text" class="form-control form-control-sm" />
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customerAddress']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label"><label class="required">HTTT</label></div>
                          <div class="col-md-8 col-lg-8">
                            <ng-select *ngIf="!viewMode" formControlName="payment_method" [items]="comboHTTT"
                              [clearable]="false" [searchable]="false" bindLabel="value" bindValue="code">
                            </ng-select>
                            <input *ngIf="viewMode" [value]="paymentMethodName" readonly="readonly" class="form-control form-control-sm"
                              type="text" />
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['payment_method']"></app-control-message>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Số TK</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input formControlName="customerBankAccount" [readonly]="viewMode" type="text" placeholder="Số tài khoản"
                              class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Ngân hàng</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input formControlName="customerBank" [readonly]="viewMode" type="text" placeholder="Ngân hàng"
                              class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-lg-3">
                        <div class="form-group row">
                          <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Trạng thái</label></div>
                          <div class="col-md-8 col-lg-8">
                            <input type="text" [value]="statusName" readonly="readonly" class="form-control form-control-sm" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-item__wrapper">
                      <div class="product-item__title">
                        <h3 class="sub-title pull-left">
                          <small class="sub-title__small">Chi tiết hóa đơn</small>
                        </h3>
                        <span *ngIf="noItemLine" class="error text-danger pull-left sub-title-small__validate">Không có
                          thông tin sản phẩm</span>

                        <div class="pull-right">
                          <button (click)="hiddenColumnClicked()" type="button" class="btn btn-light btn-md">Ẩn/Hiện
                            cột</button>
                        </div>
                      </div>
                      <table class="table table-bordered border-right-0">
                        <thead>
                          <tr>
                            <th class="bg-smoke" style="width: 20px;">#</th>
                            <th style="width: 200px;">Mã HH</th>
                            <th style="width: 400px;">Nội dung</th>
                            <th style="width: 100px;">ĐV</th>
                            <th style="width: 100px;" class="text-right">Số lượng</th>
                            <th style="width: 140px;" class="text-right">Đơn giá</th>
                            <th style="width: 160px;" class="text-right">Tiền chưa thuế</th>
                            <th [hidden]="hiddenExColumn" style="width: 80px;" class="text-right">% CK</th>
                            <th [hidden]="hiddenExColumn" style="width: 140px;" class="text-right">Tiền CK</th>
                            <th style="width: 80px;" class="text-right">% Thuế</th>
                            <th style="width: 140px;" class="text-right">Tiền thuế</th>
                            <th style="width: 140px;" class="text-right">Thành tiền</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr class="product-line" *ngFor="let pItem of itemFormArray.controls; let idx = index"
                            [formGroupName]="idx">
                            <td class="no-padding bg-smoke text-center">
                              {{idx + 1}}
                            </td>

                            <td class="no-padding invoice-no__item dropdown_expand">
                              <ng-select *ngIf="!viewMode" formControlName="item_code" [loading]="goodLoading" [items]="goodArr"
                                (change)="onGoodlineChange($event, idx)" [virtualScroll]="true" bindLabel="goods_code"
                                bindValue="goods_code">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                  <b>{{item.goods_code}}</b> {{item.goods_name}}
                                </ng-template>
                              </ng-select>
                              <input *ngIf="viewMode" readonly="readonly" formControlName="item_code" class="form-control form-control-sm"
                                type="text" />
                            </td>

                            <td class="no-padding">
                              <input formControlName="item_name" [ngClass]="{ 'control-invalid': submitted && pItem.hasError('required', 'item_name') }"
                                [readonly]="viewMode" class="form-control form-control-sm" name="item_item_name" type="text" />
                            </td>

                            <td class="no-padding">
                              <input formControlName="unit" [readonly]="viewMode" class="form-control form-control-sm"
                                name="item_unit" type="text" />
                            </td>

                            <td class="no-padding">
                              <input formControlName="quantity" [readonly]="viewMode" mask="00000000" [ngClass]="{ 'control-invalid': submitted && pItem.hasError('required', 'quantity') }"
                                (input)="quantityValueChange($event.target.value, idx)" class="form-control form-control-sm text-right"
                                type="text" />
                            </td>

                            <td class="no-padding">
                              <input formControlName="price" [readonly]="viewMode"
                              [ngClass]="{ 'control-invalid': submitted && pItem.hasError('required', 'price') }"
                               currencyMask [options]="{ prefix: '', allowNegative: false, precision: 0, thousands:'.'}"
                                (ngModelChange)="priceValueChange($event, idx)" class="form-control form-control-sm text-right"
                                type="text" />
                            </td>

                            <td class="no-padding text-right is-viewable">
                              {{ formatCurrency(lineAmount[idx]) }}
                            </td>

                            <td [(hidden)]="hiddenExColumn" class="no-padding">
                              <input formControlName="discount_rate" [readonly]="viewMode" mask="00" [ngClass]="{ 'control-invalid': submitted && pItem.hasError('required', 'quantity') }"
                                (input)="discountRateValueChange($event.target.value, idx)" class="form-control form-control-sm text-right"
                                type="text" />
                            </td>

                            <td [(hidden)]="hiddenExColumn" class="no-padding text-right is-viewable">
                              {{ formatCurrency(lineDiscount[idx]) }}
                            </td>

                            <td class="no-padding vat-line">
                              <ng-select *ngIf="!viewMode" formControlName="tax_rate" [(ngModel)]="taxModel[idx]"
                                [ngClass]="{ 'control-invalid': submitted && pItem.hasError('required', 'tax_rate') }"
                                (change)="taxRateValueChange($event, idx)" [items]="comboTaxRate" [clearable]="false"
                                [searchable]="false" bindLabel="code" bindValue="value">
                              </ng-select>
                              <input *ngIf="viewMode" readonly="readonly" formControlName="tax_rate" class="form-control form-control-sm text-right"
                                type="text" />
                            </td>

                            <td class="no-padding text-right is-viewable">
                              {{ formatCurrency(linePriceTax[idx]) }}
                            </td>

                            <td class="no-padding text-right is-viewable">
                              {{ formatCurrency(lineAmoutWt[idx]) }}
                            </td>

                            <div *ngIf="!viewMode" class="sticky-btn__td">
                              <a (click)="deleteLineClicked(idx)" title="Xóa dòng" class="sticky_btn">
                                <i class="fas fa-times"></i>
                              </a>
                            </div>
                          </tr>

                        </tbody>
                        <tfoot>
                          <tr class="tb-footer" [ngClass]="{ 'is-viewable': viewMode }">
                            <th class="td-expand-line" colspan="2">
                              <button *ngIf="!viewMode" type="button" (click)="initNewRow()" class="btn btn-light btn-md">
                                <i class="fas fa-plus"></i>Thêm dòng
                              </button>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">
                              {{ formatCurrency(sumLinePrice()) }}
                            </th>
                            <th class="text-right">
                              {{ formatCurrency(sumLineAmount()) }}
                            </th>
                            <th [hidden]="hiddenExColumn" class="text-right"></th>
                            <th [hidden]="hiddenExColumn" class="text-right"></th>
                            <th></th>
                            <th class="text-right">
                              {{ formatCurrency(sumLinePriceTax()) }}
                            </th>
                            <th class="text-right">
                              {{ formatCurrency(sumLineAmountWt()) }}
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </form>
                <div class="row text-center">
                  <div *ngIf="!viewMode" class="btn-group btn-form__footer">
                    <button type="button" (click)="isPreview=false; ngAddForm.ngSubmit.emit()" class="btn btn-md btn-primary">
                      <i class="fas fa-save"></i> Lưu
                    </button>
                    <button (click)="ignoreClicked()" type="button" class="btn btn-md">
                      <i class="fas fa-times-circle"></i> Bỏ qua
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>