<div class="container-fluid page-body-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a routerLink="/invoices">Danh sách hóa đơn</a></li>
          <li *ngIf="invoiceId" class="breadcrumb-item active" aria-current="page">Mở hóa đơn</li>
          <li *ngIf="!invoiceId" class="breadcrumb-item active" aria-current="page">Lập hóa đơn</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="alert alert-success" [hidden]="!successMessage">
        {{successMessage}}
      </div>

      <div class="alert alert-danger" [hidden]="!errorMessage">
        {{errorMessage}}
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="template-ein navbar-action">
            <button type="button" [disabled]="disabledAdd" (click)="addNewButtonClicked()" class="btn btn-md btn-primary">
              <i class="fas fa-plus"></i> Thêm
            </button>
            <button type="button" (click)="adjustClicked()" [disabled]="disabledAdjust" class="btn btn-md btn-outline-primary"><i
                class="fas fa-edit"></i>
              Điều chỉnh</button>
            <button type="button" (click)="isPreview=false; ngAddForm.ngSubmit.emit()" class="btn btn-md btn-success">
              <i class="fas fa-save"></i> Lưu
            </button>
            <button type="button" (click)="isPreview=true; ngAddForm.ngSubmit.emit()" class="btn btn-md btn-outline-primary"><i
                class="fas fa-info"></i> Xem</button>

            <button type="button" [disabled]="disabledSign" (click)="signInvoiceClicked()" class="btn btn-md btn-outline-primary"><i
                class="fas fa-key"></i>
              Ký</button>

            <button [disabled]="disabledInCD" (click)="inCDClicked()" type="button" class="btn btn-md btn-outline-primary"><i
                class="fas fa-print"></i>
              In CĐ</button>
            <button routerLink="/invoices" type="button" class="btn btn-md btn-light">
              <i class="fas fa-share-square"></i> Thoát
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card card-shadow px-2">
            <div class="card-body invoice__wrapper">
              <div *ngIf="adjust" class="alert alert-danger">
                Đang viết hóa đơn điều chỉnh cho hóa đơn số:
                <a routerLink="/invoices/update/{{invoiceId}}">#033939398</a>, mẫu: 322323, ký
                hiệu: 3332232
                <a class="btn btn-md btn-light">Quay lại</a>
              </div>

              <form class="invoice__form" #ngAddForm="ngForm" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
                <div class="invoice__body">
                  <div class="row">
                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label">
                          <label class="text-bold required">Ngày lập</label>
                        </div>
                        <div class="col-md-8 col-lg-8">
                          <div class="input-group">
                            <input appAutofocus formControlName="invoiceDate" class="form-control form-control-sm text-bold"
                              [ngClass]="{ 'is-invalid': submitted && addForm.controls['invoiceDate'].errors }"
                              placeholder="DD/MM/YYYY" triggers="dblclick:click" [bsConfig]="bsConfig" #dinvoiceDate="bsDatepicker"
                              bsDatepicker />
                            <div class="input-group-append">
                              <button class="btn btn-icons btn-inverse-light btn-md" (click)="dinvoiceDate.toggle()"
                                [attr.aria-expanded]="dinvoiceDate.isOpen" type="button">
                                <i class="fas fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['invoiceDate']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label>Số hóa đơn</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input formControlName="invoiceNo" readonly="readonly" type="text" class="form-control form-control-sm" />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label class="required">Mẫu số</label></div>
                        <div class="col-md-8 col-lg-8">
                          <div class="input-group input-group-sm c-group">
                            <div class="input-group-prepend">
                              <input formControlName="form" readonly="readonly" type="text" class="form-control form-control-sm form-control-custom" />
                            </div>
                            <ngx-select-dropdown [multiple]="false" (open)="loadFormBox()" (valueChange)="onFormChange($event)"
                              [config]="configSingleBox" (value)="formPicked" [options]="comboForm">
                            </ngx-select-dropdown>
                          </div>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['form']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label class="required">Ký hiệu</label></div>
                        <div class="col-md-8 col-lg-8">
                          <div class="input-group input-group-sm c-group">
                            <div class="input-group-prepend">
                              <input formControlName="serial" readonly="readonly" type="text" class="form-control form-control-sm form-control-custom" />
                            </div>
                            <ngx-select-dropdown (value)="serialPicked" [multiple]="false" (valueChange)="onSerialChange($event)"
                              [config]="configSingleBox" [options]="comboSerial">
                            </ngx-select-dropdown>
                          </div>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['serial']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label class="required">Mã KH</label></div>
                        <div class="col-md-8 col-lg-8">
                          <div class="input-group input-group-sm c-group">
                            <div class="input-group-prepend">
                              <input formControlName="customerCode" readonly="readonly" type="text" class="form-control form-control-sm form-control-custom" />
                            </div>
                            <ngx-select-dropdown [multiple]="false" (open)="loadCustomers()" [(value)]="customerPicked"
                              (valueChange)="onCustomerCodeChange($event)" [config]="configCode" [options]="customerArr"></ngx-select-dropdown>
                          </div>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerCode']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label required"><label>Mã số thuế</label></div>
                        <div class="col-md-8 col-lg-8">
                          <div class="input-group input-group-sm c-group">
                            <div class="input-group-prepend">
                              <input formControlName="customerTax" readonly="readonly" type="text" class="form-control form-control-sm form-control-custom" />
                            </div>
                            <ngx-select-dropdown [multiple]="false" [(value)]="customerPicked" (valueChange)="onCustomerTaxChange($event)"
                              [config]="configTaxCode" [options]="customerArr"></ngx-select-dropdown>
                          </div>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerTax']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label required"><label>Email</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input formControlName="customerEmail" type="text" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && addForm.controls['customerEmail'].errors }" />
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerEmail']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label required"><label>Mã ĐH</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input type="text" formControlName="invoiceNo" placeholder="Mã đơn hàng" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && addForm.controls['invoiceNo'].errors }" />
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['invoiceNo']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                      <div class="form-group row">
                        <div class="col-md-2 col-lg-2 col-form-label required"><label>Tên đơn vị</label></div>
                        <div class="col-md-10 col-lg-10">
                          <input formControlName="customerOrg" placeholder="(Tên đơn vị)" class="form-control form-control-sm"
                            name="customerOrg" type="text" [ngClass]="{ 'is-invalid': submitted && addForm.controls['customerOrg'].errors }" />
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerOrg']"></app-control-message>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="form-group row">
                        <div class="col-md-2 col-lg-2 col-form-label required"><label>Người mua</label></div>
                        <div class="col-md-10 col-lg-10">
                          <input type="text" formControlName="customerName" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && addForm.controls['customerName'].errors }" />
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerName']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                      <div class="form-group row">
                        <div class="col-md-1 col-lg-1 col-form-label"><label>Địa chỉ</label></div>
                        <div class="col-md-11 col-lg-11">
                          <input formControlName="customerAddress" type="text" placeholder="Địa chỉ" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && addForm.controls['customerAddress'].errors }" />
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['customerAddress']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label class="required">HTTT</label></div>
                        <div class="col-md-8 col-lg-8">
                          <select placeholder="Hình thức thanh toán" formControlName="paymentType" class="ein-select form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && addForm.controls['paymentType'].errors }">
                            <option [value]="op.code" *ngFor="let op of comboHTTT">{{ op.value }}</option>
                          </select>
                          <app-control-message *ngIf="submitted" [control]="addForm.controls['paymentType']"></app-control-message>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label>Số TK</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input formControlName="customerBankAccount" type="text" placeholder="Số tài khoản" class="form-control form-control-sm" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label>Ngân hàng</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input formControlName="customerBank" type="text" placeholder="Ngân hàng" class="form-control form-control-sm" />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label>Trạng thái</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input type="text" formControlName="status" readonly="readonly" class="form-control form-control-sm" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="product-item__wrapper">
                    <h3 class="sub-title">
                      <small class="sub-title__small">Chi tiết hóa đơn</small>
                      <button (click)="hiddenColumnClicked()" type="button" class="btn btn-light btn-md">Ẩn/Hiện cột</button>
                    </h3>
                    <p *ngIf="noItemLine" class="error text-danger">Không có thông tin sản phẩm</p>
                    <table class="table table-bordered no-border-right">
                      <thead>
                        <tr>
                          <th class="bg-smoke" style="width: 20px;">#</th>
                          <th style="width: 120px;">Mã HH</th>
                          <th style="width: 300px;">Nội dung</th>
                          <th style="width: 60px;">ĐVT</th>
                          <th style="width: 60px;" class="text-right">SL</th>
                          <th style="width: 120px;" class="text-right">Giá</th>
                          <th style="width: 60px;" class="text-right">% VAT</th>
                          <th *ngIf="!hiddenExColumn" style="width: 60px;" class="text-right">% CK</th>
                          <th *ngIf="!hiddenExColumn" style="width: 120px;" class="text-right">Tiền CK</th>
                          <th style="width: 120px;" class="text-right">Tiền thuế</th>
                          <th style="width: 120px;" class="text-right">Tổng thuế</th>
                          <th style="width: 120px;" class="text-right">Tổng tiền</th>
                          <th style="width: 120px;" class="text-right">Sau thuế</th>

                        </tr>
                      </thead>
                      <tbody formArrayName="items">
                        <tr class="product-line" *ngFor="let item of itemFormArray.controls; let idx = index"
                          [formGroupName]="idx">
                          <td class="no-padding bg-smoke text-center">
                            {{idx + 1}}
                          </td>
                          <td class="no-padding invoice-no__item">
                            <div class="input-group input-group-sm c-group">
                              <div class="input-group-prepend">
                                <input formControlName="item_code" readonly="readonly" type="text" class="form-control form-control-sm form-control-custom" />
                              </div>
                              <ngx-select-dropdown (valueChange)="onGoodlineChange($event, idx)" [multiple]="false"
                                [config]="configGood" [options]="goodArr"></ngx-select-dropdown>
                            </div>
                          </td>
                          <td class="no-padding">
                            <input formControlName="item_name" triggers="dblclick" [popover]="popContent" popoverTitle="Hiển thị thêm"
                              [(ngModel)]="item['item_name']" [outsideClick]="true" [placement]="bottom" class="form-control form-control-sm"
                              name="item_item_name" type="text" />
                            <ng-template #popContent>
                              <textarea formControlName="item_name" [(ngModel)]="item['item_name']" class="form-control form-control-sm"
                                rows="5" name="item_item_name_expand" type="text"></textarea>
                            </ng-template>
                          </td>
                          <td class="no-padding">
                            <input formControlName="unit" class="form-control form-control-sm" name="item_unit" type="text" />
                          </td>
                          <td class="no-padding">
                            <input formControlName="quantity" numbersOnly (input)="quantityValueChange($event.target.value, idx)"
                              class="form-control form-control-sm text-right" name="item_quantity" type="text" />
                          </td>
                          <td class="no-padding">
                            <input formControlName="price" numbersOnly currencyMask [options]="{ prefix: '', allowNegative: false, precision: 0  }"
                              (input)="priceValueChange($event.target.value, idx)" class="form-control form-control-sm text-right"
                              name="item_price" type="text" />
                          </td>
                          <td class="no-padding vat-line">
                            <input formControlName="tax_rate" numbersOnly (input)="taxRateValueChange($event.target.value, idx)"
                              class="form-control form-control-sm text-right text-bold" list="vatOptions">
                          </td>
                          <td [(hidden)]="hiddenExColumn" class="no-padding">
                            <input formControlName="ck" numbersOnly (input)="ckValueChange($event.target.value, idx)"
                              class="form-control form-control-sm text-right" type="text" />
                          </td>
                          <td [(hidden)]="hiddenExColumn" class="no-padding">
                            <input formControlName="total_ck" currencyMask [options]="{ prefix: '', allowNegative: false, precision: 0  }"
                              numbersOnly (input)="totalCkValueChange($event.target.value, idx)" class="form-control form-control-sm text-right"
                              type="text" />
                          </td>
                          <td class="no-padding text-right">
                            <label class="mt-2 mr-2">{{totalPriceTax[idx] | number:'.0-2'}}</label>
                          </td>
                          <td class="no-padding text-right">
                            <label class="mt-2 mr-2">{{totalQuantityTax[idx] | number:'.0-2'}}</label>
                          </td>
                          <td class="no-padding text-right">
                            <label class="mt-2 mr-2">{{totalAmount[idx] | number:'.0-2'}}</label>
                          </td>
                          <td class="no-padding text-right">
                            <label class="mt-2 mr-2">{{totalAmoutWt[idx] | number:'.0-2'}}</label>
                          </td>

                          <div class="sticky-btn__td">
                            <a (click)="deleteLineClicked(idx)" title="Xóa dòng" class="sticky_btn">
                              <i class="fas fa-times"></i>
                            </a>
                          </div>
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr class="tb-footer">
                          <th class="td-expand-line" colspan="2">
                            <button type="button" (click)="addMoreLineClicked()" class="btn btn-light btn-md">
                              <i class="fas fa-plus"></i>Thêm dòng
                            </button>
                          </th>
                          <th></th>
                          <th></th>
                          <th class="text-right"></th>
                          <th class="text-right"></th>
                          <th *ngIf="!hiddenExColumn" class="text-right"></th>
                          <th *ngIf="!hiddenExColumn" class="text-right">
                          </th>
                          <th class="text-right"></th>
                          <th class="text-right">
                            {{ sumTotalPriceTax() | currency:'VND':'symbol':'4.0-2'}}
                          </th>
                          <th class="text-right">
                            {{ sumTotalQuantityTax() | currency:'VND':'symbol':'4.0-2'}}
                          </th>
                          <th class="text-right">
                            {{ sumTotalAmount() | currency:'VND':'symbol':'4.0-2'}}
                          </th>
                          <th class="text-right">
                            {{ sumTotalAmountWt() | currency:'VND':'symbol':'4.0-2'}}
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <datalist id="vatOptions">
                  <option *ngFor="let vat of comboTaxRate" value="{{vat.value}}">{{vat.code}}</option>
                </datalist>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>