<div class="form-dialog">
  <div class="modal-header">
    <h4 class="modal-title pull-left text-uppercase">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="customer-form" #ngAddForm="ngForm" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="form-group">
            <label class="required">Mã hàng</label>
            <input appAutofocus formControlName="goods_code" type="text" class="form-control"
              [ngClass]="{ 'control-invalid': submitted && addForm.controls['goods_code'].errors }" />
            <app-control-message *ngIf="submitted" [control]="addForm.controls['goods_code']"></app-control-message>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="form-group">
            <label class="required">Tên hàng</label>
            <input type="text" formControlName="goods_name" class="form-control" />
            <app-control-message *ngIf="submitted" [control]="addForm.controls['goods_name']"></app-control-message>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="form-group">
            <label>Giá bán</label>
            <!-- <input formControlName="price" type="text" class="form-control" /> -->
            <input formControlName="price" currencyMask
              [options]="{ prefix: '', allowNegative: false, precision: 0, thousands:'.'}" class="form-control text-left"
              type="text" />
            <app-control-message *ngIf="submitted" [control]="addForm.controls['price']"></app-control-message>
          </div>

          <div class="form-group">
            <label>Mã thuế</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <ng-select class="ng-select-sm" (change)="onTaxRateCodeChanged($event)" [loading]="taxRateLoading"
                  formControlName="tax_rate_code" [items]="comboTaxRate" [(ngModel)]="taxRateCodePicked"
                  [clearable]="false" [searchable]="false" bindLabel="code" bindValue="value" dropdownPosition="top">
                </ng-select>
              </div>
              <input formControlName="tax_rate" (input)="onTaxRateChanged($event.target.value)" type="text"
                class="form-control" />
            </div>

            <app-control-message *ngIf="submitted" [control]="addForm.controls['tax_rate_code']"></app-control-message>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="form-group">
            <label>Đơn vị tính</label>
            <input formControlName="unit" type="text" class="form-control" />
            <app-control-message *ngIf="submitted" [control]="addForm.controls['unit']"></app-control-message>
          </div>
          <div class="form-group">
            <label>Nhóm</label>
            <input formControlName="goods_group" type="text" class="form-control" />
            <app-control-message *ngIf="submitted" [control]="addForm.controls['goods_group']"></app-control-message>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" (click)="ngAddForm.ngSubmit.emit()" class="btn btn-md btn-success pull-right">
      <i class="fas fa-save"></i> Lưu
    </button>
    <button type="button" class="btn btn-md btn-light pull-right">
      <i class="fas fa-share-square"></i> Bỏ qua
    </button>
  </div>
</div>
