<div class="page-wrapper">
  <div class="main-panel">
    <div class="jumbotron">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active"><a routerLink="/products">Hàng hóa</a></li>
        </ol>
      </nav>
    </div>
    <div class="card">
      <div class="card-body ein-card-body">
        <div class="search-box_wapper">
          <div class="template-ein navbar-action">
            <button type="button" (click)="addNewClicked()" class="btn btn-md btn-primary">
              <i class="fas fa-plus"></i> Thêm
            </button>
            <button type="button" (click)="showImportModal()" class="btn btn-md btn-outline-primary">
              <i class="fas fa-upload"></i> Upload Excel
            </button>
            <button type="button" (click)="downloadExcel()" class="btn btn-md btn-outline-primary">
              <i class="fa fa-download"></i> File Mẫu
            </button>

            <button (click)="expandSearchClicked()" type="button" class="btn btn-md btn-outline-primary">
              <i *ngIf="expandSearch" class="fas fa-chevron-down"></i>
              <i *ngIf="!expandSearch" class="fas fa-chevron-up"></i> Tìm kiếm
            </button>
          </div>

          <div [hidden]="!expandSearch" class="search-box">
            <div class="card shadow-nohover">
              <div class="card-body">
                <form class="form-horizontal" #ngSearchForm="ngForm" [formGroup]="searchForm"
                  (ngSubmit)="onSubmit(searchForm.value)">
                  <div class="row">
                    <div class="col-md-3 col-lg-3">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label"><label>Mã hàng</label></div>
                        <div class="col-md-8 col-lg-8">
                          <input formControlName="goodsCode" type="text" class="form-control form-control-sm" />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                      <div class="form-group row">
                        <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Sắp xếp</label></div>
                        <div class="col-md-8 col-lg-8">
                          <div class="container-half">
                            <div class="select-half">
                              <ng-select formControlName="sortBy" [items]="sortByArr" [clearable]="false"
                                [searchable]="false" bindLabel="value" bindValue="code">
                              </ng-select>
                            </div>
                            <div class="select-half">
                              <ng-select formControlName="sort" [items]="sortArr" [clearable]="false"
                                [searchable]="false" bindLabel="value" bindValue="code">
                              </ng-select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>

          <div [hidden]="!expandSearch" class="paging-top__group">
            <div class="btn-group">
              <button [disabled]="isSearching" type="button" class="btn btn-md btn-primary btn-search"
                (click)="ngSearchForm.ngSubmit.emit()">
                <i *ngIf="!isSearching" class="icon-magnifier"></i>
                <i *ngIf="isSearching" class="fa fa-spinner fa-spin"></i> Tìm kiếm
              </button>
              <button (click)="resetForm()" type="button" class="btn btn-md btn-inverse-default">
                <i class="fas fa-undo"></i> reset
              </button>
            </div>


            <div class="ngb-pagination" *ngIf="totalPages > 1">
              <ngb-pagination class="justify-content-end" [pageSize]="itemPerPage" [collectionSize]="totalItems"
                [(page)]="page" (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true"
                [boundaryLinks]="true"></ngb-pagination>
            </div>
          </div>
        </div>

        <div class="table-wrapper">
          <table id="productTable" class="table display dataTable table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Mã hàng</th>
                <th>Tên hàng</th>
                <th>ĐVT</th>
                <th class="text-right">Giá bán</th>
                <th class="hidden">Mã thuế</th>
                <th class="text-right">%VAT</th>
                <th>Nhóm</th>
                <th>#</th>
              </tr>
            </thead>
          </table>

          <ng-template #trashconfirm>
            <div class="modal-body text-center">
              <div class="dispose-content">
                <p class="heading">Xác nhận xóa hàng hóa?</p>
                <button type="button" class="btn btn-primary mr-1">Đồng
                  ý</button>
                <button type="button" class="btn btn-default" (click)="modalRef.hide()">Bỏ qua</button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="ngb-pagination bottom-pagination">
          <div class="page-info">
            <div class="form-group pull-left">
              <ng-select [items]="pageSizeList" [clearable]="false" [clearOnBackspace]="false"
                (change)="onSizeChange($event)" [(ngModel)]="itemPerPage" [searchable]="false" bindLabel="value"
                bindValue="code">
              </ng-select>
            </div>
            <label class="pull-left pager-footer_info">Trang {{ page }}: {{ totalElements }} dòng | Tổng số: {{
              totalPages }}
              trang.</label>
          </div>

          <div *ngIf="totalPages > 1">
            <ngb-pagination [pageSize]="itemPerPage" [collectionSize]="totalItems" [(page)]="page"
              (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
