<div class="einvoice-mainpanel">
  <div class="container">
    <div class="einvoice-pageheader"><h6 class="einvoice-pagetitle">Danh mục Dải hóa đơn</h6></div>
    <!-- einvoice-pageheader -->

    <div class="table-wrapper">
      <div class="table-navigation">
        <div class="btn-group" role="group">
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-retweet"></i> Tải dữ liệu</button>
          <button class="btn btn-outline-primary btn-sm"><i class="far fa-plus-square"></i> Thêm</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Sửa</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-delete"></i> Xóa</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-copy"></i> Sao chép</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-search"></i> Tìm kiếm</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-print"></i> In</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-retweet"></i> Ký hóa đơn</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-retweet"></i> Nhận exel</button>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-retweet"></i> In chuyển đổi</button>
        </div>
      </div>
      <table id="invoiceTable" class="table dataTable">
        <thead>
          <tr>
            <th></th>
            <th>Trạng thái</th>
            <th>Trạng thái hóa đơn</th>
            <th>Ngày hóa đơn</th>
            <th>Số hóa đơn</th>
            <th>Tên đơn vị</th>
            <th>Mã số thuế</th>
            <th>Tiền</th>
            <th>Tiền CK</th>
            <th>Tiền Thuế</th>
            <th>Thành Tiền</th>
          </tr>
        </thead>
      </table>
    </div>
    <!-- table-wrapper -->
    <!-- </div> -->
  </div>
  <!-- container -->
</div>
<!-- einvoice-mainpanel -->
