<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a routerLink="/products">Hàng hóa</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content-list">
        <div class="card ">
          <div class="card-body ein-card-body">
            <div class="search-box_wapper">
              <div class="template-ein navbar-action">
                <button type="button" (click)="addNewClicked()" class="btn btn-md btn-primary">
                  <i class="fas fa-plus"></i> Thêm
                </button>
                <button id="openButton" type="button" class="btn  btn-md btn-outline-primary">
                  <i class="fas fa-edit"></i> Mở
                </button>
                <button (click)="expandSearchClicked()" type="button" class="btn btn-md btn-outline-primary">
                  <i *ngIf="expandSearch" class="fas fa-chevron-down"></i>
                  <i *ngIf="!expandSearch" class="fas fa-chevron-up"></i> Tìm kiếm
                </button>
                <button id="copyButton" type="button" class="btn btn-md btn-outline-primary">
                  <i id="copyLoading" class="fa fa-spinner fa-spin"></i>
                  <i id="copyLoaded" class="fas fa-copy"></i>
                  Sao chép
                </button>
              </div>

              <div [hidden]="!expandSearch" class="search-box">
                <div class="card shadow-nohover">
                  <div class="card-body">
                    <form class="form-horizontal" #ngSearchForm="ngForm" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                      <div class="row">
                        <div class="col-md-3 col-lg-3">
                          <div class="form-group row">
                            <div class="col-md-4 col-lg-4 col-form-label"><label>Mã đối tượng</label></div>
                            <div class="col-md-8 col-lg-8">
                              <input formControlName="customer_code" type="text" class="form-control form-control-sm" />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3 col-lg-3">
                          <div class="form-group row">
                            <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Tên đối tượng</label></div>
                            <div class="col-md-8 col-lg-8">
                              <input formControlName="customer_name" type="text" class="form-control form-control-sm" />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3 col-lg-3">
                          <div class="form-group row">
                            <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Mã số thuế</label></div>
                            <div class="col-md-8 col-lg-8">
                              <input formControlName="tax_code" type="text" class="form-control form-control-sm" />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3 col-lg-3">
                          <div class="form-group row">
                            <div class="col-md-4 col-lg-4 col-form-label text-right"><label>Số điện thoại</label></div>
                            <div class="col-md-8 col-lg-8">
                              <input formControlName="phone" type="text" class="form-control form-control-sm" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div [hidden]="!expandSearch" class="paging-top__group">
                <div class="btn-group">
                  <button [disabled]="isSearching" type="button" class="btn btn-md btn-primary btn-search" (click)="ngSearchForm.ngSubmit.emit()">
                    <i *ngIf="!isSearching" class="icon-magnifier"></i>
                    <i *ngIf="isSearching" class="fa fa-spinner fa-spin"></i> Tìm kiếm
                  </button>
                  <button (click)="resetForm()" type="button" class="btn btn-md btn-inverse-default">
                    <i class="fas fa-undo"></i> reset
                  </button>
                </div>


                <div class="ngb-pagination" *ngIf="totalPages > 1">
                  <ngb-pagination class="justify-content-end" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                    [(page)]="page" (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>

            <div class="table-wrapper">
              <table id="customerTable" class="table display dataTable table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Mã ĐT</th>
                    <th>Tên ĐT</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Đơn vị</th>
                    <th>MST</th>
                    <th>Địa chỉ</th>
                    <th>Tài khoản</th>
                    <th>Ngân hàng</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="ngb-pagination bottom-pagination">
              <div class="page-info">
                <div class="form-group pull-left">
                  <ng-select [items]="pageSizeList" [clearable]="false" [clearOnBackspace]="false" (change)="onSizeChange($event)"
                    [(ngModel)]="sizeNumber" [searchable]="false" bindLabel="value" bindValue="code">
                  </ng-select>
                </div>
                <label class="pull-left pager-footer_info">Trang {{ page }}: {{ totalElements }} dòng | Tổng số: {{
                  totalPages }}
                  trang.</label>
              </div>

              <div *ngIf="totalPages > 1">
                <ngb-pagination [pageSize]="itemsPerPage" [collectionSize]="totalItems" [(page)]="page" (pageChange)="onPageChange($event)"
                  [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>