<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item"><a routerLink="/danh-muc">Danh mục</a></li>
              <li class="breadcrumb-item active" aria-current="page">Thiết lập Tùy chỉnh</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="content-wrapper">
        <div class="content-form">
          <div class="card ">
            <div class="card-body ein-card-body info-card-body">
              <div class="row">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-8 col-lg-8">
                      <form class="c_form">
                        <div class="c__body">
                          <div class="row">
                            <div class="col-md-12 col-lg-12">
                              <div class="form-group row">
                                <div class="col-md-2 col-lg-2 col-form-label">
                                  <label class="text-bold">Mã khách hàng</label>
                                </div>
                                <div class="col-md-10 col-lg-10">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-lg-6">
                              <div class="form-group row">
                                <div class="col-md-4 col-lg-4 col-form-label">
                                  <label class="text-bold">Mã số thuế</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-lg-6">
                              <div class="form-group row">
                                <div class="col-md-4 col-lg-4 col-form-label">
                                  <label class="text-bold">Điện thoại</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
  
                            <div class="col-md-6 col-lg-6">
                              <div class="form-group row">
                                <div class="col-md-4 col-lg-4 col-form-label  text-right">
                                  <label class="text-bold">Email</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-lg-6">
                              <div class="form-group row">
                                <div class="col-md-4 col-lg-4 col-form-label">
                                  <label class="text-bold">Số tài khoản</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
  
                            <div class="col-md-6 col-lg-6">
                              <div class="form-group row">
                                <div class="col-md-4 col-lg-4 col-form-label  text-right">
                                  <label class="text-bold">Ngân hàng</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
                          </div>
  
                          <div class="row">
                            <div class="col-md-12 col-lg-12">
                              <div class="form-group row">
                                <div class="col-md-2 col-lg-2 col-form-label">
                                  <label class="text-bold">Địa chỉ</label>
                                </div>
                                <div class="col-md-10 col-lg-10">
                                  <input type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-4 col-lg-4 bg-custom-info"></div>
                    <div class="template-ein">
                      <button type="button" class="btn btn-md btn-primary">
                        <i class="fas fa-save"></i> Lưu thông tin
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  