/* Forms */
.input-group-append,
.input-group-prepend {
  background: color(white);
  color: $input-placeholder-color;
  width: auto;
  border: none;

  .input-group-text {
    background: transparent;
    border-color: $border-color;
  }
}

.form-control {
  border: 1px solid $border-color;
  font-family: $type-1;
  font-size: $input-font-size;
  padding: 6px 0.75rem;
  line-height: 14px;
  font-weight: 500;

  &:disabled {
    background: #f5f5f5;
  }

  &:focus {
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 5px #9dc7eb;
  }

  &.form-control-lg {
    padding: $input-btn-padding-y-lg 0.75rem;
  }

  &.form-control-sm {
    padding: $input-btn-padding-y-sm 0.75rem;
    line-height: 22px;
  }
}

select {
  &.form-control {
    padding: 0.4375rem 0.75rem;
  }
}

.modal-content {
  .form-group {
    margin-bottom: 1rem !important;
  }
}

.form-group {
  margin-bottom: 4px !important;
  label {
    font-size: $default-font-size;
    line-height: 1;
    vertical-align: top;
  }

  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }

  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }

  .file-upload-info {
    background: transparent;
  }
}
