/* Modals */
/* Modals */
body.modal-open {
  padding-right: 0 !important;
}

// window modal class
.w-modal-sm{
  .modal-dialog{
    width: $modal-sm
  }
}

.w-modal-md{
  .modal-dialog{
    width: $modal-md
  }
}
 
.w-modal-token {
  .modal-dialog {
    max-width: 500px;

    .modal-body {
      max-height: 420px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.modal {
  .modal-dialog {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
 
    // &.modal-token {
    //   width: 540px !important;

    //   .modal-body {
    //     max-height: 350px;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //   }

    //   .btn-group {
    //     margin: 24px auto 8px;
    //     text-align: center;
    //     width: 100%;
    //     display: -webkit-box;
    //     /* display: flex; */
    //     -webkit-box-pack: end;
    //     justify-content: right;
    //   }

    //   .ngx-dropdown-container {
    //     .ngx-dropdown-button {
    //       width: 100%;
    //       > span[_ngcontent-c2]:first-child {
    //         display: block !important;
    //       }
    //     }
    //   }
    // }
 
    .modal-content {
      border: 0px !important;
      border-radius: 2px !important;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);

      .modal-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
        padding: 0px 15px 10px !important;
        border-bottom: 0 !important;

        .modal-title {
          margin-top: 10px;
          font-size: 15px;
          &.error {
            color: #d8000c;
          }
          &.success {
            color: #7ed321;
          }
        }

        .close {
          margin: -22px -16px -31px auto;
          span {
            font-size: 20px;
            font-weight: 400;
            color: #6a6a6a;
          }
        }
      }

      .modal-body {
        min-height: 120px;
        padding: 10px 15px;
        border-top: 1px dashed #e3e3e3;
        img.img-sm {
          width: 60px !important;
          height: 60px !important;
          object-fit: scale-down;
        }

        .alert {
          overflow: auto !important;
          font-size: 11px;
          padding: 8px;
          height: auto;
          word-break: break-word;
        }
      }

      .modal-footer {
        border-top: 0 !important;
        padding: 4px;
      }
    }
  }
}

.modal-backdrop {
  &.show {
    background: rgba(5, 6, 19, 0.64) !important;
  }
}
