/* Modals */
/* Modals */
body.modal-open {
  padding-right: 0 !important;
}

.modal {
  top: 96px;

  // &.show {
  //   display: flex !important;
  //   justify-content: center !important;
  //   align-items: center !important;
  // }

  .modal-dialog {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 285px;

    &.modal-sm {
      width: 350px !important;
      .modal-header{
        padding: 7px 1rem 0px !important;
      }
      .modal-body{
        padding: 7px 15px !important;
      }
    }

    &.modal-token {
      width: 450px !important;

      .btn-group {
        margin: 24px auto;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .ngx-dropdown-container {
        .ngx-dropdown-button {
          width: 100%;
          > span[_ngcontent-c2]:first-child {
            display: block !important;
          }
        }
      }
    }

    &.modal-lg {
      max-width: 800px !important;
      min-width: 600px !important;

      .modal-body {
        padding: 0px 15px;
      }
    }

    .modal-content {
      border: 0px !important;
      border-radius: 2px !important;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);

      .modal-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
        padding: 0px 15px 10px !important;
        border-bottom: 0 !important;

        .modal-title {
          margin-top: 10px;
          font-size: 15px;
          &.error {
            color: #d8000c;
          }
          &.success {
            color: #7ed321;
          }
        }

        .close {
          span {
            font-size: 20px;
            font-weight: 400;
            color: #6a6a6a;
          }
        }
      }

      .modal-body {
        min-height: 120px;
        padding: 10px 15px;
        border-top: 1px dashed #e3e3e3;
        img.img-sm {
          width: 60px !important;
          height: 60px !important;
          object-fit: scale-down;
        }

        .alert{
          overflow: auto !important;
          font-size: 11px;
          padding: 8px;
          height: auto;
          word-break: break-word;
        }
      }

      .modal-footer {
        background: #f3f4f6;
        border-top: 0 !important;
        padding: 10px 15px;
        margin-top: 10px;
      }
    }
  }
}

.modal-backdrop {
  &.show {
    background: rgba(5, 6, 19, 0.64) !important;
  }
}
