<div class="alert-dialog">
    <div class="modal-header">
        <h6 class="modal-title pull-left {{data.class}}">
            {{data.title}}
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-block text-center p-12">
            <ng-container *ngIf="data.class==='success'; else err">
                <img src="./assets/images/success.png" class="img-sm" alt="sucess image">
            </ng-container>
            <ng-template #err>
                <img  src="./assets/images/sorry.png" class="img-sm" alt="error image">
            </ng-template> 
            <div class="ml-1 mt-2">
                <h6 *ngIf="data.highlight">{{data.highlight}}</h6>
                <p *ngIf="data.message" class="text-muted word-break" [innerHTML]="data.message"></p>
            </div>
        </div>
    </div>
</div>
