<div class="form-dialog">
    <div class="modal-header">
        <h4 class="modal-title pull-left {{class}}">
            {{title}}
        </h4>
        <button *ngIf="viewMode" (click)="viewMode=false" type="button" class="btn btn-sm btn-link">
            <i class="far fa-edit"></i>
        </button>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="customer-form" #ngAddForm="ngForm" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right required">Mã đối tượng</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" appAutofocus formControlName="customer_code" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['customer_code'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customer_code']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right required">Tên đối tượng</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" formControlName="customer_name" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['customer_name'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['customer_name']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Địa chỉ</label>
                        <div class="col-sm-10">
                            <input [readonly]="viewMode" formControlName="address" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['address'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['address']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right required">Điện thoại</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" formControlName="phone" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['phone'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['phone']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right required">Email</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" formControlName="email" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['email'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['email']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right required">Đơn vị</label>
                        <div class="col-sm-10">
                            <input [readonly]="viewMode" formControlName="org" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['org'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['org']"></app-control-message>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right required">Mã số thuế</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" formControlName="tax_code" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['tax_code'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['tax_code']"></app-control-message>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Số TK</label>
                        <div class="col-sm-8">
                            <input [readonly]="viewMode" formControlName="bank_account" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['bank_account'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['bank_account']"></app-control-message>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Ngân hàng</label>
                        <div class="col-sm-10">
                            <input [readonly]="viewMode" formControlName="bank" type="text" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && addForm.controls['bank'].errors }">
                            <app-control-message *ngIf="submitted" [control]="addForm.controls['bank']"></app-control-message>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button *ngIf="!viewMode" type="button" (click)="ngAddForm.ngSubmit.emit()" class="btn btn-md btn-success pull-right">
            <i class="fas fa-save"></i> Lưu
        </button>
        <button type="button" (click)="bsModalRef.hide()" class="btn btn-md btn-light pull-right">
            <i class="fas fa-share-square"></i> Bỏ qua
        </button>
    </div>
</div>