<div class="card form-search">
  <div class="card-content">
    <div class="row">
      <form>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">{{btnFilterText}} &nbsp;&nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let type of types">
                <a name="{{type.code}}" (click)="clickOption($event)">
                  <i class="{{type.iconClass}}"></i>
                  {{type.name}}
                </a>
              </li>
            </ul>
          </span>

          <input type="text" class="form-control" placeholder="Nhập điều kiện tìm kiếm...">
          <span class="input-group-btn">
            <button class="btn btn-success dropdown-toggle" type="submit">
              <i class="fa fa-search sub-icon" aria-hidden="true"></i>Tìm kiếm
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="alert alert-success alert-dismissable total-records" role="alert">
    <p> Tổng số bản ghi tìm thấy: {{totalRecord}} records</p>
</div>