<div class="modal-header">
    <h4 class="modal-title pull-left">Xác nhận token</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modal-sm">
    <div class="d-block text-center p-12">
        <img src="./assets/images/sorry.png" class="img-sm" alt="error image">
        <div class="ml-1 mt-2">
            <h6 class="error">
                AHOADON PLUGIN OFFLINE
            </h6>
            <p class="text-muted word-break">
                Có lỗi khi tương tác với Plugin! <br />
                Xin vui lòng kiểm tra lại AHoadon Plugin.
            </p>
        </div>
    </div>
</div>
