<div class="einvoice-navbar">
  <div class="container">
    <!--
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"> <i class="icon fas fa-home"></i> <span>Trang chủ</span> </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/goods"> <i class="icon fas fa-tshirt"></i> <span>Hàng hóa</span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers"> <i class="icon fas fa-user-tie"></i> <span>Khách hàng</span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/invoices" data-toggle="dropdown"><i class="icon fas fa-file"></i> <span>Dải hóa đơn</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <i class="icon fas fa-info-circle"></i> <span>Thông tin Công ty</span> <span class="square-8"></span>
          </a>
        </li>
      </ul>
    -->

    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]" (click)="sidebarClose($event)">
          <i class="icon fas {{menuItem.icon}}"></i> <span>{{ menuItem.title }}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- container -->
</div>
<!-- einvoice-navbar -->
