<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper content-nobreadcrum mt-3">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card card-statistics">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-6 col-lg-4 ">
                  <a href="{{linkApprove}}" target="_blank">
                    <div class="d-flex justify-content-between border-right card-statistics-item">
                      <i class="fa fa-file text-primary icon-lg"></i>
                      <div>
                        <h3 class="text-right">{{statisticData.pending_invoice_approve_count}}</h3>
                        <h6 class="text-right text-muted">
                          {{statisticData.pending_invoice_approve_heading}}
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a href="{{linkSign}}" target="_blank">
                    <div class="d-flex justify-content-between border-right card-statistics-item">
                      <i class="fa fa-file text-warning icon-lg"></i>
                      <div>
                        <h3 class="text-right">{{statisticData.pending_invoice_sign_count}}</h3>
                        <h6 class="text-right text-muted">{{statisticData.pending_invoice_sign_heading}}</h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="d-flex justify-content-between card-statistics-item">
                    <i class="fa fa-file text-success icon-lg"></i>
                    <div>
                      <h3 class="text-right">{{formatCurrency(statisticData.invoice_revenue_amount)}}đ</h3>
                      <h6 class="text-right text-muted">{{statisticData.invoice_revenue_heading}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Danh sách mẫu hóa đơn sử dụng</h4>
              <div class="table-responsive mt-2">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-bold">
                        Mẫu hóa đơn
                      </th>
                      <th class="text-bold">
                        Ký hiệu
                      </th>
                      <th class="text-bold">
                        Ngày sử dụng
                      </th>
                      <th class="text-right text-bold">
                        Số lượng
                      </th>
                      <th class="text-right text-bold">
                        Đã xuất
                      </th>
                      <th class="text-right text-bold">
                        Còn lại
                      </th>
                      <th class="text-right text-bold">
                        Trung bình
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of invoiceRangeData">
                      <td>
                        {{item.form}}
                      </td>
                      <td>
                        {{item.serial}}
                      </td>
                      <td>
                        {{item.last_modify | date: 'HH:mm:ss dd/MM/yyyy'}}
                      </td>
                      <td class="text-right text-bold">
                        {{item.total_count}}
                      </td>
                      <td class="text-right text-bold">
                        {{item.used_count}}
                      </td>
                      <td class="text-right text-bold">
                        {{item.remaining_count}}
                      </td>
                      <td class="text-right text-bold">
                        0
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->

    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->